<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<form id="frmDetalle" 
	class="contact-form-area ml-3 mr-3" 
	th:object="${detalle}" th:action="@{/roldepago/add}" method="post">		
		<div class="row d-flex align-items-center">
			<div class="col-1">
				<i class="far fa-address-card"></i>
			</div>
			<div class="col-2">
				<small>Nombre:</small>
			</div>
			<div class="col-9">
				<select th:field="*{nombre}" class="form-control select2bs4" onchange="verificar()" >
					<option value=0>-- Seleccione Detalle --</option>
					<option th:each="d : ${descuentos}" th:value="${d.nombre}" th:text="${d.nombre}"></option>
					<option th:each="b : ${bonos}" th:value="${b.nombre}" th:text="${b.nombre}"></option>
				</select>
			</div>
		</div><br>
		<div class="row d-flex align-items-center">
			<div class="col-1">
				<i class="far fa-money-bill-alt"></i>
			</div>
			<div class="col-2">
				<small>Monto:</small>
			</div>
			<div class="col-9">
				<input type="text" class="form-control form-control-user" th:field="*{monto}" placeholder="Monto">
			</div>
		</div>
	</form>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
  })
</script>
</body>
</html>