<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
<div th:replace="layout :: frgNavbar"></div>
<div th:replace="layout :: frgSidebar"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<div th:replace="layout :: frgHeader"></div>
<!-- Main content -->
<section class="content">
<div class="container-fluid">
<!-- Main row -->
<div class="row">
<!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> SISCON - Rol De Pago # <label style="font-weight:normal" th:text="${rolDePago.idrol}"></label>
                    <small class="float-right">Fecha Generaci&oacute;n: <label style="font-weight:normal" th:text="${rolDePago.fechaGeneracion()}"></label></small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <address>
                    <strong>SISCON</strong><br>
                    El Coraz&oacute;n E1-80 y Salcedo<br>
                    Quito, Pichincha<br>
                    Tel&eacute;fono: 02-3122108<br>
                    Email: ldmartinez3@espe.edu.ec
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <address>
                    <strong><label style="display:inline;" th:text="${trabajador}" ></label></strong><br>
                    <b>C&eacute;dula: </b><label style="font-weight:normal;display:inline;" th:text="${trabajador.cedula}"></label><br>
                    <b>Cargo:</b> <label style="font-weight:normal;display:inline;" th:text="${trabajador.cargo}"></label><br>
                    <strong>Periodo:</strong> <label style="font-weight:normal;display:inline;" th:text="${rolDePago.mes}+' / '+${rolDePago.anio}"></label><br>
                    <strong>Email:</strong> <label style="font-weight:normal" th:text="${trabajador.email}"></label>
                  </address>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th width="81.5%">Descripci&oacute;n</th>
                      <th>Monto</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d : ${rolDePago.detalles}">
                    	<td th:text="${d.nombre}"></td>
                    	<td th:text="'$ '+${d.monto}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="lead">Bancos Participantes:</p>
                  <img th:src="@{/dist/img/credit/banco_pichincha.jpg}" alt="BancoPichincha" width="20%">&nbsp;&nbsp;
                  <img th:src="@{/dist/img/credit/banco_pacifico.png}" alt="BancoPacifico" width="20%">&nbsp;&nbsp;
                  <img th:src="@{/dist/img/credit/banco_austro.gif}" alt="BancoAustro" width="12%">

                  <p class="text-muted well well-sm shadow-none" style="margin-top: 1px;">
					Recuerda acudir a cualquiera de nuestros bancos participantes.
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Total:</th>
                        <td width="38.5%" th:text="'$ '+${rolDePago.total}"></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a onClick="window.print()" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                  <a th:href="@{/roldepago/list}" class="btn btn-success float-right"><i class="fas fa-angle-left"></i> Regresar
                  </a>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
</div>
<!-- /.row (main row) -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div th:replace="layout :: frgFooter"></div>	
</div>
<!-- ./wrapper -->	
<div th:replace="layout :: frgScripts"></div>
</body>
</html>