<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
<div th:replace="layout :: frgNavbar"></div>
<div th:replace="layout :: frgSidebar"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<div th:replace="layout :: frgHeader"></div>
<!-- Main content -->
<section class="content">
<div class="container-fluid">
<!-- Main row -->
<div class="row">
<!--$$$ CONTENIDOOOOOOOOOOOOOOOO $$$-->
	
	
	<label>Seleccione el a&ntilde;o del que desea el Reporte:</label>
	<div class="col-md-3">
	<select id="anio" onchange="report2()" class="form-control select2bs4" >
		<option value=0>-- Seleccione A&ntilde;o --</option>
		<option value=2019>A&ntilde;o 2019</option>
		<option value=2020>A&ntilde;o 2020</option>
	</select>
	</div>
	
	

</div>
<div class="academy-courses-area section-padding-100-0">
        <div class="container">
            <!-- div class="row">
            	<canvas id="chart-area-1"></canvas>            	
            </div> -->
            <div class="row">
            	<!--  canvas id="chart-area-2" style="display: block; width: 349px; height: 174px;" width="349" height="174" class="chartjs-render-monitor"></canvas>-->
            	<canvas id="canvas" style="display: block; width: 654px; height: 327px;" width="654" height="327" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
<!-- /.row (main row) -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div th:replace="layout :: frgFooter"></div>	
</div>
<!-- ./wrapper -->	
<div th:replace="layout :: frgScripts"></div>
<script th:src="@{/js/roldepago/rptCantidadMensual.js}"></script>
</body>
</html>