<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
<div th:replace="layout :: frgNavbar"></div>
<div th:replace="layout :: frgSidebar"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<div th:replace="layout :: frgHeader"></div>
<!-- Main content -->
<section class="content">
<div class="container-fluid">
<!-- Main row -->
<div class="row">
<!--$$$ CONTENIDOOOOOOOOOOOOOOOO $$$-->

<div class="col-md-6">
	<div class="card card-info">
		<div class="card-header">
			<h3 class="card-title">Ingrese los datos</h3>
		</div>
		<form role="form" class="user" th:action="@{/trabajador/save}" th:object="${trabajador}" method="post">
			<div class="card-body">
				<label for="nombres">Nombres</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Abc</span>
					</div>
					<input type="text" class="form-control form-control-user" th:field="*{nombres}" placeholder="Nombres">
				</div>
				<label for="nombres">Apellidos</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Abc</span>
					</div>
					<input type="text" class="form-control form-control-user" th:field="*{apellidos}" placeholder="Apellidos">
				</div>
				<label for="nombres">C&eacute;dula</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Abc</span>
					</div>
					<input type="text" class="form-control form-control-user" th:field="*{cedula}" placeholder="C&eacute;dula">
				</div>
				<label for="nombres">Nacionalidad</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Abc</span>
					</div>
					<input type="text" class="form-control form-control-user" th:field="*{nacionalidad}" placeholder="Nacionalidad">
				</div>
				<label for="nombres">Fec. Nacimiento</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Abc</span>
					</div>
					<input type="date" class="form-control form-control-user" th:field="*{fechaNacimiento}">
				</div>
				<label for="nombres">Tel&eacute;fono</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">123</span>
					</div>
					<input type="text" class="form-control form-control-user" th:field="*{telefono}">
				</div>
				<label for="nombres">Email</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">@</span>
					</div>
					<input type="email" class="form-control form-control-user" th:field="*{email}" placeholder="Correo electr&oacute;nico">
				</div>
				<label for="nombres">Estado Civil</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Abc</span>
					</div>
					<select th:field="*{estadoCivil}" class="form-control">
						<option value="0" >-- Seleccionar Estado Civil --</option>
						<option th:value="'Casado'" th:text="Casado"></option>
						<option th:value="'Soltero'" th:text="Soltero"></option>
					</select>
				</div>
				<label for="nombres">&Aacute;rea</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Abc</span>
					</div>
					<select th:field="*{area}" class="form-control select2bs4" onchange="selectCargos()">
						<option value="0" >-- Seleccionar &aacute;rea --</option>
						<option th:each="c : ${areas}" th:value="${c.idarea}" th:text="${c.nombre}"></option>
					</select>
				</div>
				<label for="nombres">Cargo</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Abc</span>
					</div>
					<select th:field="*{cargo}" class="form-control select2bs4">
						<option value="-1" >-- Seleccionar Cargo --</option>
						
					</select>
				</div>
				<div class="form-group row">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<input type="submit" class="btn btn-success btn-user btn-block" value="Guardar" />
					</div>
					<div class="col-sm-6 mb-3 mb-sm-0">
						<a th:href="@{/trabajador/list}" class="btn btn-danger btn-user btn-block">Cancelar</a>
					</div>
					</div>
				</div>
				<input type="hidden" th:field="*{idtrabajador}" />
			</form>
	</div>
</div>

</div>
<!-- /.row (main row) -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script th:src="@{/js/trabajador/form-trabajador.js}"></script>
<div th:replace="layout :: frgFooter"></div>	
</div>
<!-- ./wrapper -->	
<div th:replace="layout :: frgScripts"></div>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
  })
</script>

</body>
</html>